{{define "dataTable"}}
<div class="container">
    <div class="row">
        <table class="table table-striped table-bordered" id="markertable">
            <thead>
                <tr>
                    <th> Marker Name</th>
                    <th>Rs Id</th>
                    <th>Chromosome</th>
                    <th>Position</th>
                    <th>A Allele</th>
                    <th>B Allele</th>
                    <th>Array</th>
                </tr>
            </thead>
            {{range $id, $marker := .Markers}}
            <tr>
                <td>
                    {{.MarkerName}} </td>
                <td> {{.RSId}}</td>
                <td>
                    {{.Chromosome}} </td>
                <td>
                    {{.Position}} </td>
                <td>
                    {{.A_Allele}} </td>
                <td>
                    {{.B_Allele}} </td>
                <td>
                    {{.Arrays}} </td>
            </tr>
            {{end}}
        </table>
    </div>
</div>
{{end}}
